body {
  margin: 0;
}

.Card {
  margin: 50px auto 20px auto;
  width: 80%;
  box-shadow: 10px 10px 6px rgba(26, 25, 25, 0.575);
  border: 1px solid rgba(57, 57, 58, 0.342);
  padding: 10px;
  border-radius: 20px;
  animation: sudden 1s ease-out forwards;
  box-sizing: content-box;
  background-color: rgba(119, 185, 179, 0.39);
  filter: blur(50%);
}

.Card p,
.Card li {
  text-align: center;
  text-shadow: 6px 4px 4px rgba(11, 107, 151, 0.788);
  color: blue;
}

.Card p {
  margin: 0;
  height: 50%;
}

.Card .paragrafoCard {
  margin: 8px;
  text-transform: capitalize;
  text-align: left;
  font-size: 0.9rem;
}

.Card .paragrafoCardTitle {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.Card .poseButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.Card svg {
  cursor: pointer;
  font-size: 1.4rem;
}

.Card .delete {
  color: rgb(212, 73, 73);
}

.editConditional {
  align-self: flex-start;
  position: absolute;
  display: flex;
  background-color: rgb(235, 234, 190);
  padding: 0;
}
.editConditional input {
  width: 80%;
  margin: 0 5px;
  border: none;
}

.Card ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.Card li {
  border: 1px solid rgba(128, 128, 128, 0.301);
  width: 160px;
  margin: 5px;
  box-shadow: 5px 4px 6px rgba(128, 128, 128, 0.692);
  padding: 10px;
  list-style-type: none;
  height: 100px;
  flex-grow: 0;
  background-color: rgba(235, 234, 190, 0.678);
  border-radius: 8px;
  animation: queda 2s cubic-bezier(0.08, 0.82, 0.17, 1) normal;
}

.Card li:hover {
  box-shadow: 0px 0px 5px rgb(207, 55, 55);
}

.Card span {
  color: rgba(255, 0, 0, 0.822);
  margin: 10px;
}

@keyframes sudden {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes queda {
  0% {
    transform: translateY(-650px);
  }

  100% {
    transform: translateY();
  }
}

@media screen and (min-width: 768px) {
  .Card {
    width: 50%;
  }

  .Card .paragrafoCard {
    font-size: 1.2rem;
  }

  .Card .paragrafoCardTitle {
    font-size: 2rem;
  }
}
