body {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 45ch;

  animation: SuddenlyAppear 2s ease;
}

form input,
form textarea {
  color: rgb(235, 255, 59);
}
#bf {
  margin: 20px;
}

.tituloSignup {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: blue;
  font-family: "Orbitron", sans-serif;
  animation: fromUp 2s ease-out;
  font-size: 40px;
  padding: 1%;
  text-shadow: 6px 8px 5px rgba(11, 107, 151, 0.788);
}

.paragrafo a {
  color: rgb(76, 0, 255);
  text-decoration: none;
}

@keyframes SuddenlyAppear {
  0% {
    opacity: 0;
    transform: scale(3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fromUp {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
